.food {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: fit-content;
  background-color: rgb(253, 233, 237);
}
.food > .nutrientsDiv {
  height: max-content;
  margin: 20px;
  border: 2px solid transparent;
  background-color: rgb(167, 167, 235);
  border-radius: 20px;
  box-shadow: 4px 4px 2vw grey;
}
.food > .nutrientsDiv > ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}
.photosNotLoaded {
  margin: auto;
}
.food > .nutrientsDiv > ul > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.food > .nutrientsDiv > ul > li > img {
  height: 100vh;
  max-width: 50px;
  width: 10vw;
  height: auto;
  object-fit: cover;
}
#foodTitle {
  color: rgb(216, 115, 13);
  margin: 5px auto 5px auto;
  font-variant: small-caps;
}
.food > img {
  box-shadow: 4px 4px 10px grey;
  width: 80vw;
  margin: auto;
  min-height: 40vh;
  height: auto;
  max-height: 70vh;
  object-fit: cover;
  border-radius: 5vw;
}
@media (max-width: 500px) {
  #foodTitle {
    font-size: 3vmax;
  }
  .food > .nutrientsDiv > ul > li > img {
    width: 10vw;
  }
  .food > .nutrientsDiv > ul > li > h6 {
    font-size: 2vmin;
  }
  .food > img {
    max-height: 20vh;
  }
}
.servingIngredientAndInstructionDiv {
  display: grid;
}
#servingInfo {
}
#ingredientList {
  display: grid;
  grid-template-columns: auto auto auto;
  list-style-type: none;
  justify-content: space-between;
  align-items: stretch;
  background-color: antiquewhite;
  box-shadow: 4px 4px 2vw grey;
  border-radius: 10px;
  margin: 2vw;
}
#ingredientList > li {
  border: 2px solid transparent;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 500px) {
  #ingredientList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-template-columns: auto;
  }
  #ingredientList > li {

    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
#ingredientList > li > input {
  align-self: center;
  width: 20px;
  height: 20px;
}
