* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.headerDiv{
    padding: 10px 0px 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;  
    background: linear-gradient(180deg,rgb(147, 147, 224), rgb(255, 255, 255));

}
.headerDiv > form > label{
    display: flex;
    align-items: center;
}
.searchInput {
  position: relative;
  padding: 2vh;
  max-width: 27vw;
  margin-right: 4px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 20px;
  background-color: rgba(40, 35, 35, 0.307);
  color: rgb(221, 214, 214);
}
