*{
    margin:0;
    padding:0;
    font-family: sans-serif;
}
.permHeader{
    background-color: rgb(195, 195, 241);
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.searchInput{
    position: relative;
    padding:2vh;
    max-width:27vw;
    margin-right:4px;
    border:none;
    outline:none;
    cursor: pointer;
    background-color: rgba(40, 35, 35, 0.307);
    color:rgb(221, 214, 214);
}
#searchButton{
    margin-right:5px;
    padding:2vh;
    border-radius: 5px;
    box-shadow: none;
    box-sizing: none;
    border-style: none;
}
#searchButton:hover{
    background-color: rgb(147, 227, 147);
}