* {
  margin: 0;
  padding: 0;
}
.footerDiv {
  display: flex;
  justify-content: center;
  width: 100vw;
}
.footer {
  text-align: center;
  padding: 5px;
  width: 100vw;
  background-color: rgba(236, 39, 236, 0.242);
  position: relative;
}
