.resultDiv{
    display: grid;
    grid-template-columns: auto auto auto;
    overflow-y:scroll;
    overflow-x: scroll;
}

.resultDiv > a{
    outline:none;
    border:none;
    text-decoration: none;
    color:black;
    background-color: inherit;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    font-size: 2.3vw;
    transition:background 400ms ease 50ms;
}
.resultDiv > button:hover{
    background-color: rgb(165, 233, 165);
    cursor: pointer;
}