.resultDiv {
  display: grid;
  height: 100vh;
  grid-template-columns: auto auto auto auto auto;
  align-items: center;
  overflow-y: scroll;
  justify-items: center;
  background-color: rgba(219, 230, 195, 0.429);
}

.resultDiv > div {
  background-color: whitesmoke;
  width: 85%;
  float: left;
  height: 80%;   
  position: relative;
  border-radius: 15px;
  display: flex;
  font-size: larger;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  padding: 4px;
  box-shadow: 2px 1px 1px 2px rgb(178, 172, 172);
  object-fit: cover;
}
.resultDiv > div > a{
  background-color: whitesmoke;
  width: 100%;
  float: left;
  height: 100%;
  text-decoration: none;
  color: black;
}
.resultDiv div  img {  
  float: left;
  grid: 1 1 1px;
  align-self: stretch;
  justify-content: stretch;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
}


