.resultDiv {
  height: 100%;
  width: 100vw;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  align-items: stretch;
  background-color: rgba(219, 230, 195, 0.429);
}

.resultDiv > div {
  background-color: whitesmoke;
  position: relative;
  margin: 10px 10px 10px 10px;
  border-radius: 10px;
  display: grid;
  font-size: larger;
  align-items: stretch;
  align-content: stretch;
  text-align: center;
  justify-content: center;
  padding: 4px;
  box-shadow: 2px 1px 1px 4px gainsboro;
  object-fit: cover;
}
.resultDiv > div > a {
  background-color: whitesmoke;
  padding-bottom: 20px;
  display: grid;
  height: 100%;
  text-decoration: none;
  color: black;
}
.resultDiv > div > a > img {
  width: 15vw;
  margin: auto;
  left: 0;
  right: 0;
  position: relative;
  align-items: stretch;
  height: 30vh;
  border-radius: 15px;
  object-fit: cover;
}
.resultItemNav {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
#ingredientsOverview {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: xx-small;
}
@media (max-width: 900px) {
  .resultDiv {
    grid-template-columns: auto;
  }
  .resultDiv > div > a > img {
    width: 90vw;
    height: 60vh;
  }
  #itemHeading {
    font-size: larger;
  }
  #ingredientsOverview {
    font-size: small;
  }
  .resultItemNav{
    position: relative;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
  }
}
