*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  /* overflow-y: hidden; */
}

.App{
  display: flex;
  width: auto;
  flex-direction: column;
  height: 100vh;
  overflow-y: hidden;
  justify-content: space-between;
}
